<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pingu</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</head>

<style>
    html,
    body {
        background: #FBFBFB
    }

    .vertical-center {
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
</style>

<body>
    <div class="vertical-center h-100 d-flex justify-content-center align-items-center">
        <form class="card text-center" method="POST" action="">
            <div class="card-body">
                <h5 class="card-title">Pingu · Panel de Configuración</h5>
                <p class="card-text">
                <div class="form-outline">
                    <input type="text" id="uj49kfl" name="uj49kfl" class="form-control" required maxlength="25" />
                    <label class="form-label" for="uj49kfl">Clave de Acceso</label>
                </div>
                </p>

                <button type="submit" class="btn btn-primary">Acceder</button>
            </div>
        </form>
    </div>
</body>

<script>
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });
</script>

</html>