<!DOCTYPE html>
<html lang="es" data-color-mode="dark" data-dark-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pingu</title>

    <link href="https://unpkg.com/@primer/css@^17.5.2/dist/primer.css" rel="stylesheet" />
</head>

<body>
    <% if(err==true) { %>
        <div class="flash flash-banner flash-error" role="alert">
            <% if(noGuild==false) { %>
                <% if(twoFa==false){ %>
                    Clave de acceso invalida o inexistente.
                    <% } else { %>
                        La clave de acceso es válida, pero la clave de autorización no. Por motivos de
                        seguridad, la clave de acceso ha sido invalidado. Puede volver a solicitar una nueva
                        clave de acceso.
                        <% } %>
                            <% } else { %>
                                Esto es un poco... embarazoso. No podemos encontrar los datos del servidor
                                solicitado.
                                <% } %>
        </div>
        <% } %>
            <div class="p-5"></div>
            <div class="Box--spacious mx-auto text-center">
                <form id="xbfo2eH" method="POST" class="m-4" action="/login" autocomplete="off">
                    <div class="mb-4">
                        <h3 class="f1-light">
                            Pingu · Panel de Configuración
                        </h3>
                        <div class="form-group mb-4">
                            <div class="form-group-header">
                                <label class="form-label" for="uj49kfl">Clave de Acceso</label>
                            </div>
                            <div class="form-group-body">
                                <input type="text" id="uj49kfl" name="uj49kfl" class="form-control input-monospace"
                                    required minlength="25" maxlength="25" placeholder="Clave de Acceso"
                                    value="<%= claveiande %>" />
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="form-group-header">
                                <label class="form-label" for="bPX9orL">Clave de Autorización</label>
                            </div>
                            <div class="form-group-body">
                                <input type="text" id="bPX9orL" name="bPX9orL" class="form-control input-monospace"
                                    required minlength="12" maxlength="12" placeholder="Clave de Autorización"
                                    value="<%= claveauth %>" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary">Acceder</button>
                    </div>
                </form>
            </div>
</body>

</html>