<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pingu</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta3/dist/css/tabler.min.css">

    <!-- Override Body Scroll -->
    <style>
        body {
            overflow-y: hidden;
        }
    </style>
</head>

<body class="antialiased theme-dark d-flex flex-column">
    <div class="page page-center">
        <div class="container-tight py-4">
            <form class="card card-md" action="/login" method="POST" autocomplete="off">
                <% if(err==true) { %>
                    <div class="alert alert-important alert-danger alert-dismissible" role="alert">
                        <div class="d-flex">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-alert-circle alert-icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="9"></circle>
                                <line x1="12" y1="8" x2="12" y2="12"></line>
                                <line x1="12" y1="16" x2="12.01" y2="16"></line>
                            </svg>
                            <% if(noGuild==false) { %>
                                <% if(twoFa==false){ %>
                                    Clave de acceso invalida o inexistente.
                                    <% } else { %>
                                        La clave de acceso es v치lida, pero la clave de autorizaci칩n no. Por motivos de
                                        seguridad, la clave de acceso ha sido invalidado. Puede volver a solicitar una
                                        nueva
                                        clave de acceso.
                                        <% } %>
                                            <% } else { %>
                                                Esto es un poco... embarazoso. No podemos encontrar los datos del
                                                servidor
                                                solicitado.
                                                <% } %>
                        </div>
                    </div>
                    <% } %>
                        <div class="card-body text-center">
                            <div class="mb-4">
                                <h2 class="card-title">Pingu's Dashboard</h2>
                                <p class="text-muted">Please enter your access and authorization token to access your
                                    server
                                    dashboard</p>
                            </div>
                            <div class="form-group mb-4">
                                <div class="form-group-header">
                                    <label class="form-label" for="uj49kfl">Clave de Acceso</label>
                                </div>
                                <div class="form-group-body">
                                    <input type="text" id="uj49kfl" name="uj49kfl" class="form-control input-monospace"
                                        required minlength="25" maxlength="25" placeholder="Clave de Acceso"
                                        value="<%= claveiande %>" />
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="form-group-header">
                                    <label class="form-label" for="bPX9orL">Clave de Autorizaci칩n</label>
                                </div>
                                <div class="form-group-body">
                                    <input type="text" id="bPX9orL" name="bPX9orL" class="form-control input-monospace"
                                        required minlength="12" maxlength="12" placeholder="Clave de Autorizaci칩n"
                                        value="<%= claveauth %>" />
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary w-100">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/lock-open -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <rect x="5" y="11" width="14" height="10" rx="2" />
                                        <circle cx="12" cy="16" r="1" />
                                        <path d="M8 11v-5a4 4 0 0 1 8 0" />
                                    </svg>
                                    Log In
                                    </a>
                            </div>
                        </div>
            </form>
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="https://unpkg.com/@tabler/core@1.0.0-beta3/dist/js/tabler.min.js"></script>
</body>

</html>